<div class="navbar">
    <img src="C:\Users\LENOVO\Downloads\CCAPDEV\Apdev-MCO\public\images\logowhite.png" class="logo">
    <a href="#">View Establishments</a>
    <a href="#">Search Establishments</a>
    <a href="#">Search Establishments</a>
    <a href="#">Reviews</a>

    <select id="accountMenu">
        <option value="" selected hidden>Account Management</option>
        <option value="register.html">Register</option>
        <option value="login.html">Login</option>
        <option value="logout.html">Logout</option>
    </select>
</div>