@font-face {
    font-family: 'Vegan';
    src: url('fonts/Vegan.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Riot';
    src: url('fonts/ProtestRiot.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #303030;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.navbar{
    background-color: #111;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    height: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.navbar a:hover {
    background-color: #333;
}

#page_navigation {
    background-color: #111;
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    align-content: center;
}

#page_navigation a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    font-size: small;
}

#page_navigation a:hover {
    background-color: #333;
    font-style: italic;
}

.rating-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 20px;
    border-radius: 5px;
    background-color: #333;
}

.rating {
    height: 100%;
    background-color: green;
}

.rating-value {
    margin-left: 5px;   
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 10px;
}


.reviews-container {
    scroll-snap-type: x mandatory;
    padding: 20px;

    text-shadow: 2px 2px black;
}

.review {   
    width: 60vw;
    margin-bottom: 20px;    
    padding: 20px;
    border: 4px solid #333;
    border-radius: 25px;
    scroll-snap-align: start;   
    transition: transform 0.3s ease;
    overflow: hidden;
    background-color: #444444;
}

.preview{
    width: 90%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto; 
    font-size: small;   
}

.review:hover {
    transform: scale(1.1);
}

.restaurant-info {
    overflow: hidden;
}

.restaurant-info img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}   

#EstablishmentReviews{
    margin-top: 50px;
}   

h1{ 
    font-family: Vegan;
    font-weight: lighter;   
    font-stretch: 200%;
}

.restaurant-info h2{
    font-family: Vegan;
    font-weight: lighter;   
    font-stretch: 200%;
}

#review1{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            45deg,
          rgba(64, 64, 64, 0.5),    
          rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(images/r1.jpg);
}

#review2{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            45deg,
            rgba(64, 64, 64, 0.5),    
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(images/r2.jpg);
}

#review3{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            45deg,
            rgba(64, 64, 64, 0.5),    
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(images/r3.jpg);
}

#review4{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            45deg,
            rgba(64, 64, 64, 0.5),    
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(images/r4.jpg);
}

#review5{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
            45deg,
            rgba(64, 64, 64, 0.5),    
            rgba(0, 0, 0, 0.5)
        ),
        /* bottom, image */
        url(images/r5.webp);
}

span.mark:hover {
    color: lightblue;  
    text-decoration: underline; 
}

span.mark:active {
    background-color: lightblue;
}

span.by{
    font-size: smaller;
    font-weight: lighter;
}

span.username{
    color:lightblue;
}

span.username:hover{
    color:lightblue;
    text-decoration: underline; 
}

.helpful, .review h3, .review a{
    font-family: Riot   ;
}