{{> navbar}}


<link rel="stylesheet" href="/css/editprofile.css">

<div class="profile-container">
    <img class="profile-picture" src={{url}} alt="Profile Picture">

    <div class="username">Username: {{username}}</div>
    <div class="fullname">Full Name: {{fullname}}</div>
    <button id="password">Change password</button>
</div>

<script src="/js/editprofile.js"></script>