<link rel="stylesheet" href="/css/register.css">

<div class="register-box">
    <h1>Register</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        Choose an account type:
        <div class="radio-buttons">
            <input type="radio" id="reviewer" name="options" value="reviewer">
            <label for="reviewer">Reviewer</label>
            <input type="radio" id="Owner" name="options" value="Owner">
            <label for="Owner">Owner</label>
        </div>
        <div class="button-group">
            <button type="submit">Create Account</button>
            <button id="backBtn">Back</button>
        </div>
    </form>
</div>

<script src="/js/register.js"></script>