<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="navbar">
        <img src="images/logowhite.png" class="logo">
        <a href="#">View Establishments</a>
        <a href="#">Search Establishments</a>
        <a href="#">Search Establishments</a>
        <a href="#">Reviews</a>
        
        <a href="register.html">Register account</a>
        <a href="login.html">Login</a>
        <a href="logout.html">Logout</a>
        
    </div>
    <div class="register-box">
        <h1>Register</h1>
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            <div class="button-group">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</body>
</html>
