body{
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 1rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
}

input{
    padding: 0.5rem;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

button, .back-button{
    padding: 0.5rem 1rem;
    background-color: #444;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover, .back-button:hover{
    background-color: #555;
}

textarea{
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    resize: none;
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: #222; 
}

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.register-box{
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: #333;
    width: 300px;
}

.button-group{
    display: flex;
    justify-content: space-between;
}

.back-button{
    text-decoration: none;
}

.radio-buttons{
    display: flex;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px;
    justify-content: center;
}

.radio-buttons input[type="radio"] {
    display: none; /* Hide the default radio button */
}

.radio-buttons label {
    display: inline-block;
    padding: 10px 20px; /* Increased padding for more obvious button appearance */
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent; /* Add border for button appearance */
    border-color: #555;
    border-radius: 5px; /* Add border radius for rounded corners */
}

.radio-buttons label:hover {
    background-color: #444; /* Darker background color on hover */
}

.radio-buttons input[type="radio"]:checked + label {
    background-color: #666; /* Darker background color when selected */
}



